

body{
    height: 100%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

#myh1, #labelu, #text, #submit{
    margin: 5px;
}